streamlit
pandas==2.2.3
numpy==2.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
gspread==6.2.0
google-auth==2.40.1
google-auth-oauthlib==1.2.2
google-api-python-client==2.169.0
google-cloud-secret-manager==2.23.3
requests==2.32.3
urllib3==2.4.0
supabase